$namespace:'bili';
$separator:'__';

// 输出相当于bili-header
@mixin b($block) {
    $B : $namespace+'-'+$block;
    .#{$B} {
        @content;
    }
}

@mixin sub($modifier) {
    $currentSelector : #{
        & + 
        $separator + 
        $modifier + ','
    };
    #{$currentSelector}{
        @content;
    }
}